@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home/Index";
    var isChecked = "checked";
    var title = ViewBag.Title;
    var name = "zhang";
}

<h1>Hello from Razor!</h1>

<script src="~/myscript.js">
</script>

@using (Html.BeginForm()) {
  <input type="text" value="input here">
  <input type="checkbox" checked="@isChecked" />
}

<p>
@{
  Func<dynamic, object> b = 
   @<strong>@item</strong>;
}
@b("Bold this")
</p>

Hello @title. @name.